.l-contents {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	@include breakpoint(medium) {
		padding-top: 8rem;
		padding-bottom: 8rem;
	}
	&:nth-of-type(1) {
		z-index: 1;
		@include breakpoint(large) {
			padding-top: 8rem;
		}
	}
}
.l-contents_title {
	text-align: center;
	font-size: 1.5rem;
	color: #494949;
	margin: 0 auto;
	@include breakpoint(medium) {
		font-size: 2rem;
		width: 70%;
	}
	&.--heading {
		font-size: 1.5rem;
		margin-bottom: 1rem;
	}
}
.l-contents_subtitle {
	text-align: center;
	margin: 0 auto;
}
.l-contents_description {
	margin: 2rem auto 0;
	width: 95%;
	@include breakpoint(medium) {
		width: 70%;
	}
}