.l-cta {
	@extend .l-contents;
	.l-button_waves {
		font-size: 2rem;
		padding: 2rem;
		background: #FFF;
		color: $primary-color;
		@extend .b-shadow-1;
		.l-button_tooltip { display: none; }
		&:hover {
			position: relative;
			.l-button_tooltip {
				display: block;
				position: absolute;
				top: -4rem;
				left: 104px;
				font-size: 1rem;
				background-color: $primary-color;
				color: #FFF;
				width: 250px;
				padding: 1rem;
				border-radius: $global-radius;
				z-index: 100;
				&::before {
					content: '';
					display: block;
					position: absolute;
					height: 0;
					width: 0;
					bottom: -13px;
					left: 112px;
					border: 13px solid transparent;
					border-right-width: 0;
					border-left-color: $primary-color;
					transform: rotate(-270deg);
					z-index: 100;
				}
			}
		}
	}
	.l-contents_subtitle {
		margin-bottom: 3rem;
	}
}
.l-cta:nth-last-of-type(1) .button {
	color: #FFF;
	background: $primary-color;
	&:hover .l-button_tooltip {
		color: $primary-color;
		background-color: $secondary-color;
		&::before {
			border-left-color: $secondary-color;
		}
	}
}
.l-cta_btntell {
	background: transparent !important;
	color: $primary-color !important;
	display: table;
	margin: 0 auto;
	&:hover .fa {
		animation: {
			name: hover-buzz-out;
			duration: .75s;
			timing-function: linear;
			iteration-count: 1;
		}
	}
	.fa {
		display: table-cell;
		vertical-align: middle;
		font-size: 3rem;
		transform: translateZ(0);
		padding-right: .5rem;
	}
	.show-for-small {
		display: table-cell;
		vertical-align: middle;
		font: {
			size: 1.57rem;
		}
	}
}