.l-footer {
	text-align: center;
	padding: 3rem 0;
}
.l-footer_linkbox {
	@extend .show-for-large;
}
.l-footer_fb {
	@extend .show-for-large;
	margin-left: 3rem;
	width: 30px;
	height: 30px;
	background-color: $facebook;
	border-radius: $global-radius;
	font-size: 28px;
	display: inline-block;
	vertical-align: bottom;
	text-align: center;
	text-decoration: none;
	color: #FFF;
	transition: opacity $mediumDuration;
	&:hover,
	&:active,
	&:focus {
		color: #FFF;
		background-color: $facebook;
		opacity: .8;
	}
	.fa {
		margin-left: 5px;
	}
}
.l-footer_link {
	display: inline-block;
	margin-right: 1rem;
	margin-top: 1rem;
}