.l-hero {
	margin-top: 90px;
	@include breakpoint(small only) {
		padding: 1rem 0 0;
		background-color: rgba($secondary-color, .6);
		border-radius: $global-radius $global-radius .5rem .5rem;
	}
	@include breakpoint(medium) {
		height: 500px;
		background-color: $secondary-color;
		border-radius: $global-radius;
		z-index: 5;
	}
}
.l-hero_inner {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	max-width: $global-width;
	position: relative;
}
.l-hero_title {
	width: 100%;
	margin: 0 auto;
	padding: 1rem;
	text-align: center;
	background: radial-gradient(rgba(#FFF, .2) 0, rgba(#FFF, .4) 40%, transparent 90%, transparent 100%);
	@include breakpoint(medium) {
		width: 70%;
		position: absolute;
		right: 1rem;
		top: 3%;
		z-index: 1;
	}
	@include breakpoint(large) {
		width: 50%;
	}
}
.l-hero_bg {
	width: 100%;
	@include breakpoint(small only) {
		position: absolute;
		top: 1rem;
		right: 0;
		left: 0;
		z-index: -1;
	}
	@include breakpoint(medium) {
		position: relative;
		height: 100%;
		z-index: 0;
		img {
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
}
.l-hero_desc {
	@extend .b-shadow-1-half;
	position: relative;
	background-color: #FFF;
	border-radius: .5rem;
	padding: 1rem;
	@include breakpoint(medium) {
		position: absolute;
		top: 60%;
		right: 1rem;
		width: 70%;
		max-width: 600px;
	}
	@include breakpoint(large) {
		width: 50%;
		max-width: 600px;
	}
}
.l-hero_link {
	display: block;
	width: 100%;
	height: 100%;
}
.l-hero_subtitle {
	margin-top: 1rem;
}
.l-hero_subtitle,
.l-hero_text {
	text-align: center;
}
.l-hero_text {
	margin-top: 2rem;
}