.l-service {}
.l-service_hero {
	width: 100%;
	height: 200px;
	padding: 2rem 0;
	text-align: center;
	position: relative;
	z-index: 0;
	overflow: hidden;
	background: {
		image: url('//hanamaru-souzoku.com/wp-content/uploads/2015/10/header-05.png');
		repeat: no-repeat;
		size: cover;
	}
	@include breakpoint(medium) {
		height: 400px;
	}
	&::before {
		content: '';
		position: absolute;
		background: inherit;
		filter: blur(10px);
		top: -10px;
		left: -10px;
		right: -10px;
		bottom: -10px;
		z-index: -2;
	}
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(#FFF, .6);
		z-index: -1;
	}
}

/*
 * SERVICE GRID
*/
.l-service_box {
	margin-bottom: 20px;
	&:nth-of-type(3n-2) {
		@include breakpoint(medium only) {
			width: 100%;
			max-width: none;
			flex: 0 0 100%;
		}
	}
}
.l-service_boxinner {
	background-color: #FAFAFA;
	position: relative;
	padding: 2rem 1rem rem-calc(42)+2rem;
}
.l-service_titlebox {
	@include clearfix();
}
.l-service_icon {
	float: left;
	width: 6rem;
	border-radius: 6rem;
	background-color: $secondary-color;
	margin-right: 1rem;
	padding: 1rem;
}
.l-service_title {
	margin-top: 1.8rem;
	color: $primary-color;
	font-size: 1rem;
}
.l-service_description {
	margin-top: 1.5rem;
}
.l-service_link {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	a {
		@extend .button;
		width: 100%;
		border: 2px solid $primary-color;
		border-radius: 0;
		background: $primary-color;
		transition: $mediumDuration;
		&:hover {
			color: $primary-color;
			background: #FFF;
		}
	}
}