// Noto Sans Japanese
// http://www.google.com/fonts/earlyaccess
@font-face {
	font-family: 'ipaexg';
	src: url('../font/ipaexg.eot?#iefix') format('eot'),
		url('../font/ipaexg.woff') format('woff'),
		url('../font/ipaexg.ttf') format('truetype');
}