@font-face {
	font-family: 'Ricty';
	font-weight: normal;
	src: url('../font/RictyDiminished-Regular.ttf') format('truetype'),
			 url('../font/RictyDiminished-Regular.woff') format('woff');
}
@font-face {
	font-family: 'Ricty';
	font-weight: bold;
	src: url('../font/RictyDiminished-bold.ttf') format('truetype'),
			 url('../font/RictyDiminished-bold.woff') format('woff');
}