<section class="l-cta bg-secondary">
	<div class="row">
		<div class="column align-middle text-center"><a href="https://sub-hanamaru-souzoku.ssl-lolipop.jp/contactus/" class="button l-button_waves" target="_blank">相続の無料相談を申し込む<span class="l-button_tooltip">相続のお話をしましょう</span></a></div>
	</div>
</section>