<!DOCTYPE html>
<html lang="ja" dir="ltr">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
	<meta charset="UTF-8">
	<script><% include('_prefetch'); %></script>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chorme=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--[if lt IE 9]>
	<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	<title>大変な相続手続き一覧 | 専門家集団はなまる相続</title>
	<link rel="stylesheet" href="<%= path.css; %>style.css">
</head>
<body>
	<header id="topbar" class="l-topbar">
		<div class="row align-middle align-justify">
			<div class="column small-8 medium-6"><a href="<%= path.home; %>" title="トップページへ戻る" class="l-topbar_logo"><img src="<%= path.img; %>logo/topbar.png" alt="はなまる相続のロゴ"></a></div>
			<div class="column small-4 medium-6"><a href="https://sub-hanamaru-souzoku.ssl-lolipop.jp/contactus/" class="button l-topbar_button l-button_waves" title="相続のお話をしましょう。" target="_blank"><i class="fa fa-phone"></i><span class="show-for-medium">082-563-8700<span class="l-topbar_desc">平日10：00～17：00</span></span></a></div>
		</div>
	</header>